body {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: black;
}

#lowerbase {
    animation: explosion 6s 1s ease-out forwards;
    transform: translate(50px,-50px) rotateZ(10deg);
}

#lettuce {
    animation: explosion 6s 1s ease-out forwards;
    transform: translate(0px, 25px);
}

#cheese {
    animation: explosion 6s 1s ease-out forwards;
    transform: translate(-20px, 45px);
}

#onion {
    animation: explosion 6s 1s ease-out forwards;
    transform: scale(0.9) translate(40px, 66px);
}

#meat {
    animation: explosion 6s 1s ease-out forwards;
    transform: translate(-10px, 100px);
}

#tomato {
    animation: explosion 6s 1s ease-out forwards;
    transform: scale(0.9) translate(10px, 190px) rotate(-5deg);
}
#cucumber {
    animation: explosion 6s 1s ease-out forwards;
    transform: scale(0.95) translate(-20px, 270px) rotate(-15deg);
}

#upperbase {
    animation: explosion 6s 1s ease-out forwards;
    transform: translate(-50px, 320px) rotate(-25deg);
}

@keyframes explosion {
    to {transform: translate(0px, 0px) scale(1) rotate(0);}
}